.header {

    width: 100%;
    height: 300px;
    text-align: center;
    background-color:#591C21;
}

.header h2{

    color: #04BF9D;
    padding-top: 10%;
    
}


.infos{

    text-align: center;
    margin-top: 50px;
    

}

.noticia {

    background-color: #C4C4C4 ;

}

.centro {

    float: left;
    width: 70%;
    margin-left: 50px;
    margin-right: 5%;

}

.postagem{

    border: 3px solid gray ;
    background-color: #C4C4C4;
    padding-left: 5%;
    padding-top: 3%;

}

.baixo{

    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #591C21;
    margin-top: 30%;

}

.baixo p{

    font-size: 15px;
    padding-top: 7%;
    color: #04BF9D;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #023535;
}
  
li {
    float: left;
}

li:hover {
    background-color: black;   
}

a .ativo{
    background-color: white;
    color: black;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav{

    margin-bottom: 10%;
}
